.max-height{
    height: auto;
  }
  .height1{
    height: 60%;
  }
  .box{
    width: auto;
    padding: 20px 50px 10px 50px;
    margin: 20px;  
  }
  body{
    background-color: rgb(207, 175, 109);
  }
  #out{
    font-family: "Times New Roman", Times, serif;
  }
  .dtitle{
    color: rgb(187, 228, 148);
    font-size: xx-large;
  }
  .box1{
    width: auto;
    padding: 50px;
    margin: 20px;
  }